$text-color: #FFFFFF;
$button-color: rgba(174, 181, 185, 0.5);
$background-color: rgba(8, 15, 26, 0.59);

$laptop-small-width: 1200px;
$tablet-width: 930px;
$mobile-big-width: 600px;
$mobile-small-width: 400px;